/vendor/
/node_modules/
/.env
/.env.production
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/public/build/
/public/hot
/public/storage
.DS_Store
Thumbs.db
*.log
